[submodule "submodules/sdwebimage"]
	path = submodules/sdwebimage
	url = https://github.com/rs/SDWebImage.git
[submodule "submodules/DTCoreText"]
	path = submodules/DTCoreText
	url = git@github.com:ursachec/DTCoreText.git
[submodule "submodules/sstoolkit"]
	path = submodules/sstoolkit
	url = git://github.com/samsoffes/sstoolkit.git
[submodule "submodules/afnetworking"]
	path = submodules/afnetworking
	url = git://github.com/AFNetworking/AFNetworking.git
