[submodule "submodules/sdwebimage"]
	path = submodules/sdwebimage
	url = https://github.com/rs/SDWebImage.git
[submodule "submodules/DTCoreText"]
	path = submodules/DTCoreText
	url = git@github.com:ursachec/DTCoreText.git
