<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>170</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>250</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>130</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>220</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>310</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>170</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string></string>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>210</integer>
		</dict>
	</array>
</dict>
</plist>
