<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>3_200x_156.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>156</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>7-eiterquellen-sfuertbauer_200x_200.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>ABE_04_200x_150.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>ak4_200x_140.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>akin_cetin_01_200x_130.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>130</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>AVPD_04_200x_132.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>132</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>beadles_08_200x_132.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>132</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>chessum_06_200x_132.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>132</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>custombike_03_200x_150.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>articleId</key>
			<string></string>
			<key>filename</key>
			<string>dorottya_01-e1287774382922_200x_130.jpg</string>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>130</integer>
		</dict>
	</array>
</dict>
</plist>
